---
title: Contact Us
layout: base.njk
---

<h1>Contact Us</h1>
<p>
    Email us at: <a href="mailto:{{ site.contactEmail }}">{{ site.contactEmail }}</a> <br>
    For enquiries: +{{ site.whatsappNumber }}
</p>
